.activity-main{
    margin-bottom: 10px;
    padding-bottom: 40px;
    border-radius: 10px;
}
.activity-main img{
    padding: 1.5rem;
    height: 170px;
}

.card{
    height: 32rem;
    box-shadow: 4px 4px 8px gray;
}
.butons{
    display: flex;
    justify-content: center;
}
